---
---

@import "{{ site.theme }}";

.inner {
    width: 80%;
}

#main-content {
    width: 80%;
    float: right;
}

aside#sidebar {
    width: 19%;
    float: left;
}

header h1 {
    width: auto;
}